@use "../helpers/" as *;

.pages {
	max-width: 111rem;
	min-height: calc(100vh - 90px);
	margin: 0 auto;
	padding: 9rem 4rem;
	padding-bottom: 4rem;
	@include display(tab-land) {
		padding: 6rem 4rem;
		padding-bottom: 4rem;
	}
	@include display(phone) {
		padding: 0;
		padding-bottom: 12rem;
	}
}
