@use "./colors" as *;

@mixin showcase {
	// max-width: 44.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3rem;

	&__carousels {
		// width: 44.5rem;
		// width: 100%;
		// height: 44.5rem;
		border-radius: 1.5rem;
		overflow: hidden;
		cursor: pointer;
		img {
			width: 100%;
			height: 100%;
			vertical-align: bottom;
			object-fit: cover;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 3rem;
		.border {
			border: 3px solid $orange;
			border-radius: 1rem;
			overflow: hidden;
		}
		&-item {
			width: 8.8rem; //FIXME:
			width: 100%;
			// opacity: 0.5;
			cursor: pointer;

			vertical-align: bottom;
			&:hover {
				// filter: sepia(); // FIXME:
				opacity: 0.4;
			}
		}
	}
}
