@use "../helpers/" as *;

.home {
	.home-container {
		display: flex;
		gap: 12.5rem;
		.product-showcase {
			flex-basis: 50%;
			// max-width: 44.5rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 3rem;

			&__carousels {
				// width: 44.5rem;
				// width: 100%;
				// height: 44.5rem;
				border-radius: 1.5rem;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					vertical-align: bottom;
					object-fit: cover;
				}
			}
			&__list {
				display: flex;
				justify-content: space-between;
				gap: 3rem;

				&-item {
					width: 8.8rem; //FIXME:
					width: 100%;
					border-radius: 1rem;
					// opacity: 0.5;
					cursor: pointer;
					border: 3px solid $orange;
					&:hover {
						// filter: sepia(); // FIXME:
						opacity: 0.7;
					}
				}
			}
		}

		.product-information {
			flex-basis: 50%;
			&__label {
				padding-top: 6.1rem;
				text-transform: uppercase;
				color: $orange;
				font-size: 1.3rem;
				line-height: 1.3rem;
				letter-spacing: 1.9px;
				font-weight: 700;
			}
			&__name {
				font-size: 4.4rem;
				line-height: 4.8rem;
				font-weight: 700;
				margin-top: 2.3rem;
				margin-bottom: 3.5rem;
				color: $very-dark-blue;
			}
			&__detail {
				color: $dark-grayish-blue;
				margin-bottom: 2.5rem;
			}
			&__price-discount {
				display: flex;
				align-items: center;
				gap: 2rem;
				h2 {
					display: inline-block;
					font-size: 2.8rem;
					line-height: 2.8rem;
					letter-spacing: 0.2rem;
					color: $very-dark-blue;
					span {
						letter-spacing: -0.5px;
					}
				}

				.discount {
					font-size: 1.6rem;
					line-height: 1.6rem;
					letter-spacing: 0.15rem;
					font-weight: 700;
					color: $orange;
					background-color: $pale-orange;

					padding: 5px;
				}
			}
			&__price-real {
				margin-top: 0.9rem;
				font-size: 1.6rem;
				line-height: 2.6rem;
				letter-spacing: 0.07rem;
				font-weight: 700;
				color: $grayish-blue;
				position: relative;
				width: max-content;
				// text-decoration: line-through;

				&::after {
					content: "";
					display: block;
					width: 100%;
					// height: 50%;
					position: absolute;
					top: 45%;
					left: 0;
					border-bottom: 2px solid;
				}
			}
			&__form {
				margin-top: 3.4rem;
				display: flex;
				gap: 1.6rem;

				min-height: 5.6rem;

				&-amount {
					display: flex;
					flex-wrap: nowrap;

					border-radius: 1rem;
					overflow: hidden;
					// height: 100%;
					// width: 100%;

					button {
						padding: 0 1.6rem;
						border: none;
						height: 100%;
						background-color: $light-grayish-blue;
						font-size: 2.6rem;
						line-height: 2.6rem;
						font-weight: 700;
						color: $orange;
						cursor: pointer;
					}
					input {
						outline: none;
						border: none;
						background-color: $light-grayish-blue;
						font-size: 1.6rem;
						line-height: 1.6rem;
						font-weight: 700;
						max-width: 70px;

						text-align: center;
					}
				}
				&-cta {
					flex-grow: 1;
					border-radius: 1rem;
					border: none;
					cursor: pointer;
					background-color: $orange;
					color: white;
					font-size: 1.6rem;
					line-height: 1.6rem;
					font-weight: 700;
				}
			}
		}
		@include display(tab-land) {
			gap: 5rem;
			// .product-information {
			// 	&__label {
			// 		padding-top: 0;
			// 	}
			// }
		}
		@include display(tab-port) {
			.product-showcase {
				flex-shrink: 1;
				justify-content: space-evenly;
				// max-width: 32rem;
				&__list {
					gap: 1.5rem;
				}
			}
			.product-information {
				flex-basis: 60%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				&__label {
					padding-top: 0;
				}
			}
		}
		@include display(lg-phone) {
			flex-direction: column;
			.product-information {
				&__label {
					font-size: 1.2rem;
				}
				&__name {
					font-size: 2.8rem;
				}
			}
		}
		@include display(phone) {
		}
	}
}
